body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
}

.log-message {
  padding: 4px 0;
  font-size: 14px;
  /* height: 20px; Removed to allow expansion */
  position: relative; /* For positioning pseudo-elements like indicators */
}

/* .log-valid {} */

.log-invalid {
  color: #f44336;
}
.log-invalid-label {
  color: #f44336;
  font-weight: bold;
}
.log-level-verbose .log-message-main {
  color: #9e9e9e;
  font-weight: bold;
}
.log-level-info .log-message-main {
  color: #2196f3;
  font-weight: bold;
}
.log-level-error .log-message-main {
  color: #f44336;
  font-weight: bold;
}
.log-time {
  color: #bdbdbd;
}
.log-name {
  color: #8bc34a;
}
.log-payload-label {
  color: #ffb300;
}
.log-payload {
  color: #fff;
}
.log-meta-label {
  color: #888 !important;
  font-size: 12px;
  font-weight: normal;
  opacity: 0.7;
}
.log-meta {
  color: #888 !important;
  font-size: 12px;
  font-weight: normal;
  opacity: 0.7;
}
.log-message-main {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.2px;
}

.log-collapsible {
  cursor: pointer;
}

.log-collapsible .log-payload-container {
  display: none;
  margin-left: 20px; /* Indent payload slightly */
  padding-top: 5px;
  margin-top: 5px;
  border-left: 2px solid #444; /* Visual cue for payload block */
  padding-left: 10px;
}

.log-collapsible[data-expanded="true"] .log-payload-container {
  display: block;
}

/* Optional: Indicator for collapsible sections */
.log-collapsible::before {
  content: '+';
  position: absolute;
  left: -12px; /* Adjust as needed if you have line numbers or other elements */
  top: 4px;
  font-size: 12px;
  font-weight: bold;
  color: #888;
  padding-right: 5px;
}

.log-collapsible[data-expanded="true"]::before {
  content: '-';
}
